<template>
    <div>
        <h1>Hello VueWorld!</h1>

        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        name:   'App'
    }
</script>

<style>
    @import url('/assets/sass/app.scss');
</style>