.wrapper { overflow: hidden !important; }
.errormsg { color: #999; }
h1.errormsg { 
  font-size: 16em; 
  font-weight: 700;
  margin: 0; 
}
p.errormsg {
  font-weight: 300;
  font-size: 52px;
}
.nav-tabs-custom>.nav-tabs>li.active { border-top-color: #00a65a !important; }
.main-footer a,
.text-success { color: #00a65a !important; }
.datepicker {
  border-radius: 0;
  padding-left: 12px;
}
.select2-container .select2-selection--single { height: 34px; }
.select2-container--default .select2-selection--single {
  border-radius: 0 !important;
  border: 1px solid #d2d6de !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 5px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 26px;
  color: #555;
}
.select2-search__field {
  width: 100% !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #00a65a !important;
  border-color: #008d4c !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #fff !important;
}
/* Custom datatable default theme color */
.pagination > li.active > a, .pagination > li.active > span { background-color:#00a65a !important; border-color: #008d4c !important; }
.pagination>.active>a { background-color:#008d4c !important; border-color: #398439 !important; }

#flash-message {
	position: absolute !important;
	bottom: 20px !important;
	right: 20px !important;
	z-index: 10 !important;
}

.custom-box-success {
  border-top: 3px #00a65a solid;
}
.salary-range {
  display: none;
  color: #999;
  margin-top: 8px;
}
.hide-item {
  display: none;
}
.dropdown-menu {
  width: 400px !important;
}
/* profile - family relations list */
.users-list > li img.relations {
  max-width: 50% !important;
}

/* Dropzone */
.dropzone {
  background: #eee !important;
  border: 1px transparent !important;
}
.dp-message-custom {
  font-size: 1.64em;
  font-weight: 500;
  color: #777 !important;
  line-height: 110%;
  margin: 0.82em 0 0.656em 0;
}
.dp-icon {
  font-size: 80px !important;
  color: #777 !important;
}