@media print {

	@page { margin: 10px 5px; }
	
	div.dataTables_paginate, div.dataTables_filter, footer, .print, div.dt-buttons {
	    display: none !important;
	}

	div.box.box-success {
		border: 0;
	}

	body, html, .wrapper { 
		overflow-x: hidden !important; 
		overflow-y: hidden !important;
	}

}